@import '../../../style/variables.scss';
@import '../../../style/mixins.scss';

.register {
    margin: auto;
    padding: 5px;

    width: 100%;
    max-width: 500px;

    &__fieldset {
        @include fieldset;
    }

    &__label {
        @include label;
    }

    &__input {
        @include input;
    }

    &__button {
        @include submit-button;
    }
}